PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.p2pvx2s.mongodb.net/estatehub?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=estatehub_luxury_proptech_secret_jwt_2026
